@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap'); /*iMPORTO GOOGLE FONT*/


/*DECLARO VARIABLES*/
:root{

    /*font family*/
    --font-principal: 'Jost', sans-serif;
    --text-color: #050505;


    /*font size*/
    --text-large: 5.2em;
    --text-medium: 2.2em;
    --text-base: 1.6em;
    --text-small: 1.4em;

    /*spacing*/
    --spacing-large: 6rem;
    --spacing-medium: 4rem;
    --spacing-small: 2rem;
    --spacing-xsmall: 1rem;



    /*colors*/
    --primary:#030303;
    --secondary: #2117aaa9;
    --alternative: #615f83a9;

}




/*---------------ESTILOS GLOBALES-----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-principal);
    
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    font-family: var(--font-principal); /*DECLARAR MÃS TIPOS DE LETRA*/
    color: var(--text-color);

}



.container{
    display:grid;
    grid-template-areas: 
    "header header header"
    "aside main main"
    "aside main main"
    "footer footer footer"
    ;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    grid-template-columns: 20% auto 15%;
    height: 100vh;
    row-gap: 10px;
    column-gap: 10px; /*Espacio entre elem de la grilla*/
    
    
    
}


/*--------------HEADER-----------*/

header {
    display: flex;
    grid-area: header;
    justify-content: space-around;
    align-items: center;
    padding: var(--spacing-small);
    border-bottom: 2px solid var(--primary);

}


.header__img{
    max-width: 400px;

}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu__link{
    font-size: var(--text-medium);
    padding: var(--spacing-small);
    border: 2px solid white;
    transition: all 1s;
}

.menu__link:hover{
    border-color: var(--secondary);
}


/*-----------BODY ------------*/



.main {
    grid-area: main;
    /*max-width: 1200px;
    margin: 5rem auto;
    display: flex;*/
    justify-content: space-between;
   
}

.aside{
    grid-area: aside;
}

.footer{
    grid-area: footer;
    font-size: var(--text-medium);
}


.abogados{
    display: flex;
    justify-content: center;
    

}

.bio{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


h1{
    font-size: var(--text-medium);
}


/*--------FORM CONTACTO----------*/
.formContacto{
    font-size: var(--text-medium);
}










/*MEDIA QUERY --> ESTABLEZCO ESTILOS PARA MOBILE
-----Breakpooints--------
320px --> cel vert
480px --> cel hor
600px --> tabl peq vert
768px y 1023px --> tab gde vert
1024px --> tab gde horiz / net / desktop
1200px --> pan
*/


/*MOBILE VERTICAL*/
@media screen and (max-width: 480px) and (orientation: portrait) {
    .container{
          grid-template-areas:
          "header"
          "aside"
          "main"
          "footer";
          grid-template-rows: repeat(4, 1fr);
          grid-template-columns: 1fr;
          height: 100vh;
          row-gap: 0px;
          column-gap: 0px; 
          
          }
   
  .header, .main, .aside, .footer {
      font-size: 40px;
  }

  .header {
      flex-direction: column;
  }
}


/*MOBILE HORIZONTAL*/
@media screen and (max-width: 480px) and (orientation: landscape) {
  .container{
      grid-template-areas:
      "header header"
      "aside main"
      "aside main"
      "footer footer";          
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(2, 1fr);
      height: 100vh;
      row-gap: 0px;
      column-gap: 0px; 
      
      }

      .header {
        flex-direction: column;
    }
}




/*TABLET*/
@media screen and (min-width: 481px) and (max-width: 1200px) {

  .container{
        grid-template-areas:
        "header header"
        "aside main"
        "aside main"
        "footer footer";          
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: 100vh;
        row-gap: 0px;
        column-gap: 0px; 
        
        }

        .header {
          flex-direction: column;
      }
 

}